#target_{
  height : 70% ;
  width : 70% ;
  position : absolute ;
}
#target_ img{
  height : 100% ;
  width : 100% ;
  transition-duration : 0.3s ;
}
.guide_icon{
  position : absolute ;
  height : 5vh ;
  top : 150% ;
  left : 90% ;
  background : url('./guide_icon.png');
  background-size: cover ;
}
