.gal_con{
  flex-direction: row;
}

#target_{
  align-self: center ;
  height : 90% ;
  width : 70% ;
  position : absolute 
}
#target_ img{
  height : 100% ;
  transition-duration : 0.3s ;
  border : 1px solid var(--border) ;
}
/* */
.cont_con{
  align-self: flex-end ;
  width : 100% ;
  flex-direction: row ;
  justify-content: space-between ;
  padding : 2% 4% 
}
/* */
.notice_container{
  width : fit-content ;
  transition-duration: 3s ;
  justify-content: flex-end;
  grid-gap: 2vh ;
}
.notice{
  height : 15vh ;
  width : 25vw ;
  border : 1px solid var(--border) ;
  z-index : 15 ;
  transition-duration: .3s ;
  background : linear-gradient(-45deg  , rgba(0,0,0,.3), transparent 80%)
}
.notice > div{
  width : 80% ;
}
.notice > div:nth-child(1){
  height : 70% ;
  flex-direction : row ;
  justify-content: space-around ;
}
.notice > div:nth-child(1) h1 {
  max-width : 60% ;
  color : var(--semi-border) ;
}
.notice > div:nth-child(1) h1 ,
.gal_con button {
  font-size : 15px ;
  text-transform: uppercase ;
}
.notice > div:nth-child(1) img {
  width : 30%  ;
}
.notice > div:nth-child(2){
  height : 30% ;
  align-items: flex-end ;
}
.gal_con button{
  height : 2em ;
  padding: 0 2em ;
  border : none ;
  color : var(--semi-border) ;
  transition-duration : .3s ;
  text-align : center ;
  background : transparent ;
}
.gal_con button:hover {
  color : var(--main-color ) ;
  cursor : pointer ;
  background : var(--half-border)
}
#cont_s{
  color : var(--main-color) ;
  align-self: flex-end ;
}