#target_{
  height : 90% ;
  width : 70% ;
  position : absolute ;
}
#target_ img{
  height : 100% ;
  transition-duration : 0.3s ;
}
.guide_icon{
  position : absolute ;
  height : 8vh ;
  width : 8vh ;
  top : 150% ;
  left : 90% ;
  background : url('./guide_icon.png');
  background-size: cover ;
}
.guide_btn{
  position : absolute ;
  height : 2vh ;
  width : 4vh ;
  top : 180% ;
  border : 1px solid var(--txt) ;
  transition-duration:  .3s;
}
.guide_btn:hover{
  background : var(--border) ;
}