.svg_container {
  position: absolute;
  height: 1100vh;
  top: 350vh;
  width: 30vw;
  left: 20vw;
  z-index: -1;
}
svg {
  height: 100%;
  width: 100%;
}
svg path {
  stroke: var(--main-color);
  stroke-width: 1;
}
