@keyframes in_ou {
  0% {
    top: -100vh;
  }
  100% {
    top: 0%;
  }
}
@keyframes menu_ex_an{
  0%{
    background-position-x : 10% ;
  }
  100%{
    background-position-x : 90% ;
  }
}
.menu_conta {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100vh;
  width: 100%;
  background: var(--background);
  transition-duration: 0.4s;
  animation: in_ou 0.4s ;
}
.menu_conta > div {
  width: 90%;
}
.menu_conta > div:nth-child(1) {
  height: 10vh;
  align-items: flex-end;
}
.menu_conta > div:nth-child(2) {
  height: 90vh;
  flex-direction: row;
}
.menu_conta > div:nth-child(2),
.menu_conta > div:nth-child(2) > div:nth-child(1),
.menu_conta > div:nth-child(2) > div:nth-child(2) {
  align-items: flex-start;
}
.menu_conta > div:nth-child(2) > div {
  width: 50%;
  height: 90%;
}
.menu_conta > div:nth-child(2) > div:nth-child(1) {
  justify-content: space-around;
}
.menu_conta > div:nth-child(2) > div:nth-child(1) h1 {
  font-size: 70px;
  transition-duration: 0.3s;
}
.menu_conta > div:nth-child(2) > div:nth-child(1) h1:hover {
  text-decoration: underline;
}
.menu_conta > div:nth-child(2) > div:nth-child(2) {
  justify-content: flex-start;
  padding-left: 10%;
  padding-top: 5vh;
  grid-gap: 2vh;
}
.menu_conta > div:nth-child(2) > div:nth-child(2) > div {
  height: 40%;
  width: 80%;
  border: 1px solid var(--border);
}
.menu_conta > div:nth-child(2) > div:nth-child(2) > div > h1{
  font-size: 35px ;
  letter-spacing: .4rem ;
  font-family: serif;
  background: radial-gradient(
      circle closest-side at center,
      var(--main-color) 50%,
      var(--txt) 50%
    );
  background-size: 200% 200%;
  background-position-y: center ;
  color: transparent;
  background-clip: text ;
  transition-duration: 0.1s;
  animation : menu_ex_an 3s linear infinite alternate ;
}
.menu_conta > div:nth-child(2) > div:nth-child(2) > h2 {
  font-size: 15px;
  font-weight: 100;
  color: var(--txt);
  width: 80%;
}
