canvas{
  border : 1px solid var(--border) ;
  transition-duration : .5s;
}
img:not(#cir){
  width : 70%;
  height : 70%;
  border: 1px solid var(--border)
}
#p_Conn{
  width : 70%;
  align-self : center ;
  flex-direction : row;
}
#p_Conn div{
  width : 50%;
  padding : 0% 5%
}
#p_Conn .h3_con{
  align-self: flex-start;
  align-items: flex-end;
}
#p_Conn .h3_con_2{
  align-self: flex-end;
  align-items: flex-start;
}
#p_Conn h3{
  font-size: 25px ;
  letter-spacing: .2vw ;
}
#p_Conn p{
  height: 100%;
  width : 50%;
  font-size: 15px;
}