.intro,
.logo {
  width: auto;
}
/**/
.f-Pa #cont {
  display : unset ;
  overflow: hidden;
  position: absolute;
  height: 90vh;
  width: 90%;
  z-index: -1;
}
.a_star{
  position : relative ;
  transition-duration: 1s;
  border-radius: 50% ;
}
#cursor {
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  -webkit-backdrop-filter: brightness(500%);
  -moz-backdrop-filter: brightness(500%);
  backdrop-filter: brightness(500%);
}
/* */
.f-Pa h1:nth-child(1) {
  font-size: 80px;
  font-family: serif;
  letter-spacing: 3vw;
  z-index: 2;
  transform: translateX(3vw);
}
.f-Pa h1:nth-child(2) {
  letter-spacing: 1vw;
  font-size: 50px;
  font-style: oblique;
  transform: translateY(-75%) translateX(1vw);
  z-index: 1;
  color: var(--main-color);
}
