.intro,
.logo {
  width: auto;
}
.f-Pa .intro {
  position: absolute;
}
/**/

/* */
.f-Pa h1:nth-child(1) {
  font-size: 80px;
  letter-spacing: 3vw;
  z-index: 2;
  transform: translateX(3vw);
}
.f-Pa h1:nth-child(2) {
  font-family: 'Long Cang', cursive;
  letter-spacing: 1vw;
  font-size: 90px;
  font-style: oblique;
  transform: translateY(-65%) translateX(1vw);
  z-index: 1;
  color: var(--main-color);
}
