.intro,
.logo {
  width: auto;
}
.f-Pa {
  background-image: url('./img/wp5543325-2.jpg');
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: center;
}
.f-Pa h1:nth-child(1) {
  font-size: 80px;
  font-family: serif;
  letter-spacing: 3vw;
  z-index: 2;
  transform: translateX(3vw);
}
.f-Pa h1:nth-child(2) {
  letter-spacing: 1vw;
  font-size: 50px;
  font-style: oblique;
  transform: translateY(-75%) translateX(1vw);
  z-index: 1;
  color: var(--main-color);
}
