#ScenterS {
  height: 1100vh;
  width: 100%;
  align-items: flex-end;
}
#ScenterS > div {
  height: 100%;
  width: 80vw;
  align-items: flex-end;
}
#ScenterS > div > div {
  height: 100vh;
  align-items: flex-start;
  width: 100%;
  grid-gap: 3vh;
  padding-left: 2vw;
}
#ScenterS > div > div:nth-child(3),
#ScenterS > div > div:nth-child(8) {
  width: 72.5vw;
}
#ScenterS > div > div:nth-child(6) {
  width: 65vw;
}
#ScenterS > div > div > div,
#ScenterS > div > div > p {
  background-color : var(--background);
}
#ScenterS > div > div > div,
#ScenterS > div > div:nth-child(9) > div > div {
  padding-left: 3vw;
  align-items: flex-start;
}
#ScenterS > div > div > div:nth-child(1),
#ScenterS > div > div:nth-child(9) > div > div:nth-child(1) {
  height: 45%;
  justify-content: flex-start;
  padding-top: 3vw;
  grid-gap: 2vh;
}
#ScenterS > div > div > div:nth-child(2) {
  height: auto;
  padding: 0;
  flex-direction: row;
  justify-content: space-between ;
  width : 70% ;
  align-self: center ;
}
#ScenterS > div > div > div:nth-child(2) > div {
  align-items: flex-start;
  width: 40%;
}
#ScenterS > div > div:nth-child(9) {
  justify-content: flex-start;
  padding-top: 20vh;
}
#ScenterS > div > div:nth-child(9) > div {
  position: absolute;
  height: 170vh;
  width: 77vw;
  border: none;
  justify-content: space-between;
  padding: 0px;
}
#ScenterS > div > div:nth-child(9) > div > div:nth-child(1) {
  height: 50vh;
}
#ScenterS > div > div:nth-child(11) {
  padding: 0px;
}

/* background images */

#ScenterS > div > div:nth-child(2) > div:nth-child(1){
  background-image : url('../images/white_dwarf.jpg')
}
#ScenterS > div > div:nth-child(5) > div:nth-child(1){
  background-image : url('../images/supernovae.jpg') ;
  background-size : 100% auto ;
  background-position : center right ;
  background-repeat : no-repeat ;
}
#ScenterS > div > div:nth-child(7) > div:nth-child(1){
  background-image : url('../images/neutron_star.jpg') ;
  background-size: cover ;
  background-position: center ;
}
#ScenterS > div > div:nth-child(9) > div > div:nth-child(1){
  background-image : url('../images/black_hole.jpg') ;
  background-size: cover ;
  background-position: center ;
}
#ScenterS > div > div:nth-child(11) > div {
  background-image : url('../images/cycle.jpg') ;
  background-size: cover ;
  background-position: center ;
} ;

#ScenterS > div > div:nth-child(11) > div {
  border: 1px solid var(--main-color);
}

/* ... */
