.welcom
  #center-S:not(#center-S:nth-child(1))
  .txt-container
  > div:nth-child(2) {
  align-self: flex-end;
}
.wrapper {
  height: 270vh;
  width: 100%;
  position: absolute;
  top: 210vh;
  justify-content: space-between;
  z-index: -1
}
.bg-wrapper {
  justify-content: flex-start;
  padding: 0px;
}
.bg-wrapper:nth-child(1) {
  height: 120vh;
  width: 100%;
}
.bg-wrapper:nth-child(2) {
  height: 115vh;
  width: 50vw;
  align-self: flex-start;
  align-items: flex-end;
}
.bg-wrapper img {
  height: 80vh;
  position: sticky;
  top: 0%;
}
.bg-wrapper:nth-child(1) img {
  width: 70%;
}
.bg-wrapper:nth-child(2) img {
  width: 35vw;
}
@media only screen and (max-width : 900px){
  .bg-wrapper:nth-child(1) img {
    width: 80%;
  }
  .bg-wrapper:nth-child(2){
    width : 80vw ;
  }
  .bg-wrapper:nth-child(2) img {
    width: 100%;
  } 
}