.welcom
  #center-S:not(#center-S:nth-child(1))
  .txt-container
  > div:nth-child(2) {
  align-self: flex-end;
}
.wrapper {
  height: 270vh;
  width: 100%;
  position: absolute;
  top: 210vh;
  justify-content: space-between;
  z-index: -1;
  border: 1px solid var(--bg);
}
.bg-wrapper {
  justify-content: flex-start;
  border: 1px solid var(--txt);
}

.bg-wrapper:nth-child(1) {
  height: 120vh;
}
.bg-wrapper:nth-child(2) {
  height: 115vh;
  align-items: flex-start;
}

.bg-wrapper img {
  height: 80vh;
  position: sticky;
  top: 0%;
  width: 100%;
  padding: 0px;
}
.bg-wrapper:nth-child(1) img {
  opacity: 50%;
}
