.matter-txt-container{
  width :auto;
  align-items: flex-start;
}
.matter-txt-container h1:nth-child(1){
  font-size: 50px;
  font-family: 'Megrim', cursive;
}
.matter-txt-container h1:nth-child(2){
  align-self: center;
  letter-spacing: .5rem;
}
.matter-txt-container .matter-per{
  color : var(--main-color);
  font-size: 35px;
}
.matter-txt-container p{
  width : 50%;
  align-self: flex-end;
}