@keyframes dot_co {
  0% {
    color: var(--main-color);
  }
  100% {
    color: var(--text);
  }
}

.sp,
.sp span {
  display: flex;
  flex-direction: row;
}
.sp {
  width: 50vw;
}
.sp > span:nth-child(1) {
  width: 60%;
  justify-content: flex-end;
  letter-spacing: 1vw;
}
.sp > span:nth-child(2) {
  width: 40%;
  justify-content: flex-start;
  color: var(--text);
}
.sp > span:nth-child(2) span {
  animation: dot_co 1s ease-in;
}
