.und-Rect-container > div > div:nth-child(1) {
  height: 60vh;
  width: 40%;
  border: 1px solid var(--main-color);
  border-top:none ;
}
.und-Rect-container > div >  div:nth-child(2) {
  height: 10vh;
  justify-content: flex-end;
  row-gap: 2vh;
  width: 40%;
}
.und-Rect-container > div > div:nth-child(2) h1 {
  color: var(--main-color);
  font-family: monospace;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: .5rem;
}
.und-Rect-container > div > div:nth-child(2) hr {
  width: 100%;
  height: 1px;
  color: var(--main-color);
}
/* */
#stars_cont {
  display : unset ;
  overflow : hidden ;
  position : absolute ;
  background : linear-gradient(to top,transparent , var(--background) 20%) ;
  top : 510vh ;
  height: 164vh;
  width: 80%;
  border-radius: 0vh 0vh 200vw 200vw;
}
.a_star{
  position : relative ;
  transition-duration : .5s ;
  border-radius : 50% ;
}
/* */
/* */
.stars-sh {
  font-size: 130px;
}
