.universe-part h1 {
  text-align: center;
  letter-spacing: 1vw;
}
.universe-part p {
  text-align: center;
  transition-duration: 0.3s;
}
.theUniversalCard {
  height: 170vh;
  position: absolute;
  top: 815vh;
  width: 35%;
  background: url('./img/deep_universe_35.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid var(--main-color);
}
.theUniversalCard > div {
  height: 50%;
  width: 100%;
}
#uni-text{
  width : 40% ;
}
