.menu-btn,
.menuu {
  border: 1px solid var(--txt);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 4px;
  transition-duration: 0.3s;
}
.menu-btn:hover,
.menuu:hover {
  cursor: pointer;
  background: var(--border);
}
.menu-container {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  justify-content: space-around;
  overflow: hidden;
}
.menu-container hr {
  width: 100%;
  height: 1px;
  transform: scaleY(0.5);
}
