:root {
  --main-color: #006eff;
  --background: rgb(0, 0, 0);
  --text: #cccccc;
  --bg: #111111;
  --txt: #989898;
  --half-border : rgb(3,3,3) ;
  --border: rgb(10, 10, 10);
  --semi-border : rgb(30,30,30) ;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100%);
  scrollbar-width: 10px;
  scrollbar-color: var(--bg);
  transition-duration: 1s;
}
body {
  width: 100%;
  background: var(--background);
  color: var(--text);
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: var(--bg);
}
body,
main,
div,
svg,
nav,
h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
div {
  width: 100%;
}
h1 {
  color: var(--text);
  
  font-weight: lighter;
  text-transform: uppercase;
}
p {
  font-size: 15px;
  color: var(--txt);
  font-family: 'Montserrat Alternates', sans-serif;
  max-width : 35vw ;
}
a,
a:active,
a:visited {
  text-decoration: none;
  color: var(--text);
}
main,
#body {
  height: 100%;
  width: 100%;
}
#center-S {
  scroll-snap-align: center;
  height: 100vh;
}
.for-st {
  font-style: oblique;
  color: var(--main-color);
}
.for_cl {
  color : var(--main-color)
}
.arc_h1{
  font-size : 90px ;
  font-family: 'Megrim', cursive;
}
.arc_h2{
  font-family: 'Wire One', sans-serif;
  letter-spacing: .3em;
}
@font-face{
  font-family:'Nico';
  src:url('./lib/NicoMoji-Regular.ttf') format('truetype');
}
.all_h1{
  font-family: 'Nico';
}
